<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="caffeine">
			<section name="jni.net" 
				 type="Caffeine.Jni.JNISectionHandler,Caffeine.Jni" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<!--<add key="" value=""/>-->
	</appSettings>
	<caffeine>
		<jni.net>
			<jvm.dll value="libjvm.so"/>
			<java.class.path value="."/>
			<java.library.path value=""/>
			<java.option value="-Xms256M"/>
			<java.option value="-Xmx512M"/>
		</jni.net>
	</caffeine>
</configuration>
