<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="caffeine">
			<section name="jni.net" 
				 type="Caffeine.Jni.JNISectionHandler,Caffeine.Jni" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<!--<add key="" value=""/>-->
	</appSettings>
	<caffeine>
		<jni.net>
			<!--
			<jvm.dll value="c:\j2sdk1.4.2_04\jre\bin\server\jvm.dll"/>
			-->
			<java.class.path value="jcool.jar"/>
			<java.option value="-Xmx512M"/>
		</jni.net>
	</caffeine>
</configuration>
