<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="caffeine">
			<section name="jni.net" 
				 type="Caffeine.Jni.JNISectionHandler,Caffeine.Jni" />
		</sectionGroup>
	</configSections>
	<caffeine>
		<jni.net>
			<java.class.path value="jms.jar"/>
			<java.class.path value="./jboss-3.2.3/client/concurrent.jar"/>
			<java.class.path value="./jboss-3.2.3/client/jboss-client.jar"/>
			<java.class.path value="./jboss-3.2.3/client/jboss-common-client.jar"/>
			<java.class.path value="./jboss-3.2.3/client/jbossmq-client.jar"/>
			<java.class.path value="./jboss-3.2.3/client/jnet.jar"/>
			<java.class.path value="./jboss-3.2.3/client/jnp-client.jar"/>
			<java.class.path value="./jboss-3.2.3/client/jsse.jar"/>
			<java.class.path value="./jboss-3.2.3/client/log4j.jar"/>
			<java.option value="-verbose:gc,class"/>
		</jni.net>
	</caffeine>
</configuration>
